.swiper {
    width: 100%;
    height: 100%;
  }
  .swal2-confirm {
    background-color: #4545de !important;
    border: "none" !important;
    color: #dbb921 !important;
    font-family: "Montserrat" !important;
  }
  .swal2-shown {
    font-family: "Montserrat" !important;

  }
  .swal2-title {
    font-family: "Montserrat" !important;

  }
  .swal2-popup {
    font-family: "Montserrat" !important;
    color: #00002F !important;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  *, html{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* width */
::-webkit-scrollbar {
  display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px whitesmoke;
    border-radius: 1px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 1px;
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #808080;
    display: none;
  }
